/*ДРОПДАУН цвета*/
.dropdown-item:hover{
  background-color: #1e1e1e!important;
}

/* IMAGE */
img{
  max-width: 100%;
  min-width: 100%;
  width: 100%;
}
pre{
  background-color: #1e1e1e;
  padding: 16px;
  border-radius: 4px;
}

code{
  color: white!important;
}

table{
  background-color: #1e1e1e;
  color: white;
  padding: 16px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  border: 1px solid #000;
}

tbody{
  border-radius: 8px;
}

tr{
  border: solid grey 1px;
  padding: 16px;
}

td{
  border: solid grey 1px;
  padding: 16px;
}

td > ul > li{
  list-style: none;
}

/* Бэкграунд цвета кастомные */
.bg-black{
    background-color: black;
}
.bg-form{
    background-color: #212121;
}
.bg-grey{
  background-color: #212121;  
}
/* ВИДЕО */
video::-webkit-media-controls {
    display: none;
}

video{
    pointer-events: none;
}
/*Основные настройки*/
html,
body {
  height: 100%;
}
a{
  text-decoration: none!important;
}

/* Шрифты */
h1, h2, h3 , h4 , h5, h6 {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

p, a, button, small, i, b, input {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Футер */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* высота футера */
}


/* Инпуты пароль и пользователь */
input[type="text"],input[type="password"] {
    background-color : #212121;
    padding: 10px;
}

/* КАРУСЕЛЬ */
* {
    padding: 0;
    margin: 0;
  }
  
  body {
    overflow-x: hidden;
    background: #fed5c8;
  }
  
  .list {
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
  }
  
  .list li {
    list-style-type: none;
    
    width: 200px;
    height: 200px;
    opacity: .25;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    border-radius: 2px;
    background: #9C89B8;
    transition: transform 1s, opacity 1s;
  }
  
  .list .act {
    opacity: 1;
  }
  
  .list .prev,
  .list .next {
    cursor: pointer;
  }
  
  .list .prev {
    transform: translateX(-220px) scale(.85);
  }
  
  .list .next {
    transform: translateX(220px) scale(.85);
  }
  
  .list .hide {
    transform: translateX(-420px) scale(.85);
  }
  
  .list .new-next {
    transform: translateX(420px) scale(.85);
  }
  
  .list .hide,
  .list .new-next {
    opacity: 0;
    transition: opacity .5s, transform .5s;
  }
  
  .swipe {
    width: 270px;
    height: 200px;
    position: absolute;
    background-color: green;
    border-radius: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
  }
