{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 class="text-center mb-4">Войти в систему</h1>
<div class="row col-12 d-flex justify-content-center">

    <div class="bg-form rounded p-5">
        <form method="post" action="{% url 'login' %}" class="w-100">

            <video width="320" height="240" controls autoplay muted>
                <source src="{% static 'img/output.mp4' %}" type="video/mp4">
            </video>

            {% csrf_token %}
            {% if error %}
            <p class="text-danger">{{ error }}</p>
            {% endif %}
            <p class="">
                <span class="">Логин</span><br>
                <input class="w-100 border-bottom border-right-0 text-light" type="text" id="username" name="username" placeholder="Логин">
            </p>
            <p> 
                <span class="">Пароль</span><br>
                <input class="w-100 border-bottom border-right-0 text-light" type="password" id="password" name="password" placeholder="Пароль">
            </p>    
            <input class="btn btn-outline-success" type="submit" value="Войти">

        </form>
    </div>
</div>

{% endblock %}
