{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    
    <!-- FAVICONS -->
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'img/android-chrome-192x192.png' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- CUSTOM FONTS -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">

    <title>Реестр ошибок</title>
  </head>
  
  <body class="bg-grey text-light d-flex flex-column min-vh-100">

    <div class="spinner-grow text-success" style="position: absolute; top: 50%; left: 50%; margin-top: -1.5rem; margin-left: -1.5rem; width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>

<header class="page-header d-none">

    <nav class="navbar navbar-expand-lg navbar-dark bg-black sticky-top">
        <a class="navbar-brand" href="{% url 'index' %}">
          <img src="{% static 'img/android-chrome-192x192.png' %}" width="30" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}"> <i class="fa fa-home" aria-hidden="true"></i> Главная</a>
            </li>
            {% if user.is_superuser %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}"><i class="fa fa-download" aria-hidden="true"></i> Добавить ошибку</a>
              </li>
            {% endif %}

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Категории</a>
            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
              {% for category in categories %}
                <a class="dropdown-item text-light" href="/category/{{category.id}}"> <i class="fa fa-address-book" aria-hidden="true"></i> {{ category.name }}</a>
              {% endfor %}
            </div>
          </li>

          </ul>
          
          <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
            <input name="search" class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> <i class="fa fa-search" aria-hidden="true"></i> Поиск</button>
          </form>
          <ul class="navbar-nav ml-2">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="nav-link border-0 bg-black" type="submit"> <i class="fa fa-sign-out" aria-hidden="true"></i> Выйти</button>
            </form>
            </li>
          {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}"> <i class="fa fa-sign-in" aria-hidden="true"></i> Войти</a>
            </li>
        {% endif %}
          </ul>
        </div>
      </nav>
</header>

  <main class="flex-fill page-main d-none">
    <div class="container mt-4">

    {% block content %}
    {% endblock %}

    </div>
  </main>

    <footer class="page-footer d-none bg-black text-light text-center text-md-left mt-5">
      <div class="container">
        <div class="row pt-4">
          <div class="col-sm-6 col-md-3 pb-4">
            <h4 class="mb-4">
              Сервисы
            </h4>
            <ul class="list-unstyled">
              <li>
                <a href="https://wikijs.black-sprut.pro" class="text-light"> <i class="fa fa-wikipedia-w" aria-hidden="true"></i> Википедия</a>
              </li>
              <li>
                <a href="https://git.kalovik.ru" class="text-light"> <i class="fa fa-gitlab" aria-hidden="true"></i> Приватный GitLab</a>
              </li>
              <li>
                <a href="https://manager.kalovik.ru" class="text-light"> <i class="fa fa-tasks" aria-hidden="true"></i> Доска Jira</a>
              </li>
            </ul>
          </div>
         
          <div class="col-md-6 pb-4">
            <h4 class="mb-4">
              Полезные ссылки
            </h4>
            <ul class="list-unstyled">
              <li>
                <a href="#" class="text-light">- Пока пусто</a>
              </li>
              <li>
                <a href="#" class="text-light">- Пока пусто</a>
              </li>
              <li>
                <a href="#" class="text-light">- Пока пусто</a>
              </li>
            </ul>
          </div>
        </div> 
        <div class="row">
          <div class="col-12">
            <p class="text-center text-secondary border-top border-secondary py-4">
              &copy; 2025 <a href="#" class="text-light">Satoro Goyda</a>
            </p>
          </div>
        </div>   
      </div>
    </footer>

    <script>
      // на "чистом" JavaScript
      document.addEventListener('DOMContentLoaded', function() {
        document.querySelector('body > .spinner-grow').classList.add('d-none');
        document.querySelector('.page-header').classList.remove('d-none');
        document.querySelector('.page-main').classList.remove('d-none');
        document.querySelector('.page-footer').classList.remove('d-none'); 
      });
    </script>

  </body>

 <!-- Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</html>
