{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>{{ errors.name }}</h1>
<div class="row border-bottom pb-4">
    <div class="col-md-12 col-sm-12 col-lg-8 col-xl-8">

        <img class="w-100" src="{{ errors.photo.url }}" width="700" height="400" alt="">

          {% if errors.status == 'Red' %}
            <p class="mt-4 bg-danger w-50 p-2 text-center rounded">Классификация: Красная</p>
          {% elif errors.status == 'Green' %}
            <p class="mt-4 bg-success w-50 p-2 text-center rounded">Классификация: Зеленая</p>
          {% elif errors.status == 'Yellow' %}
          <p class="mt-4 bg-warning w-50 p-2 text-center text-dark rounded">Классификация: Желтая</p>
          {% else %}
          <p class="mt-4 bg-secondary w-50 p-2 text-center rounded">Классификация: Не определенна</p>
          {% endif %}

    </div>

    <div class="col-md-12 col-sm-12 col-lg-4 col-xl-4">
        <h2>ID: {{ errors.id }}</h2>
        <small class="text-secondary">Описание  ошибки:</small>
        <p class="w-100">{{ errors.description|slice:":800" }}</p>
    </div>

</div>

<h1 class="mt-3 mb-3">Решение проблемы:</h1>

<div class="row border-bottom pb-3">
    <div class="col-12">
        <p>{{ errors.solving }}</p>
    </div>
</div>

<h2 class="mt-4">Обсуждение:</h2>

ПОКА НЕ РАБОТАЕТ, допилю как время будет, не очень критичная штука, учитывая наше комьюнити

<div class="row">

            </div>
          </div>

{% endblock %}