{% extends 'base.html' %}
{% load static %}
{% load filter %}
{% block content %}

<div class="bg-dark rounded p-5">
<div class="row border-bottom pb-1">
    <div class="col-md-12 col-sm-12 col-lg-8 col-xl-8 pb-4">

      <div class="d-flex justify-content-center">
        <img class="rounded border img-fluid" src="{{ errors.photo.url }}" width="640px" height="360px" alt="">
      </div>
      <div>
        <small class="text-secondary">Название ошибки:</small>
        <h1 class="">{{ errors.name }}</h1>
      </div>

    </div>

    <div class="col-md-12 col-sm-12 col-lg-4 col-xl-4">
        <small class="mt-5">ID: {{ errors.id }}</small><br>
        <div class="w-100 ">
          {% if errors.status == 'Red' %}
            <p class="m-4 bg-danger p-2 text-center rounded">Классификация: Красная</p>
          {% elif errors.status == 'Green' %}
            <p class="m-4 bg-success p-2 text-center rounded">Классификация: Зеленая</p>
          {% elif errors.status == 'Yellow' %}
          <p class="m-4 bg-warning p-2 text-center text-dark rounded">Классификация: Желтая</p>
          {% else %}
          <p class="m-4 bg-secondary p-2 text-center rounded">Классификация: Не определенна</p>
          {% endif %}
        </div>
    
        <div>
          {% if errors.decision == 'Red' %}
            <p class="m-4 bg-danger p-2 text-center rounded">Сложность: Тяжело</p>
          {% elif errors.decision == 'Green' %}
            <p class="m-4 bg-success p-2 text-center rounded">Сложность: Легко</p>
          {% elif errors.decision == 'Yellow' %}
            <p class="m-4 bg-warning p-2 text-center text-dark rounded">Сложность: Среднее</p>
          {% else %}
            <p class="m-4 bg-secondary p-2 text-center rounded">Сложность: Не определенна</p>
          {% endif %}
        </div>

        <p>
          Классификация - это серъезность ошибки, насколько она может повлиять на систему или установку.
          <span class="bg-danger">Красная</span> - это серьёзная ошибка, которую нельзя обойти стороной, придется что-то делать по новой или возможно все делать по новой. 
          <span class="bg-warning text-dark">Желтая</span> - возможно придется перенастроить конфиг, сеть, или что-то еще. Не совсем серьезная ошибка, но все равно придется что-то делать.
          <span class="bg-success">Зеленая</span> - на это можно даже не смотреть, она не критична, небольшой баг. Нужно нажать пару кнопок или просто перезагрузить систему.

        </p>

    </div>

</div>

<div class="row border-bottom pb-3">
    <div class="col-12">
      <hr>
        <p>{{ errors.description|safe|markdown}}</p>
        <p>{{ errors.solving|safe|markdown }}</p>
    </div>
</div>

<h2 class="mt-4 mb-4">Обсуждение:</h2>
<div class="row">

  <div class="col-12">

    <div class="comment-form">
      <form action="" class="form-group">
        <textarea class="form-control" name="commentary" id="commentary" placeholder="Напишите комментарий"></textarea>
        <button type="submit" class="btn btn-primary mt-3">Отправить</button>
      </form>
    </div>

    <div class="comments">

      <div class="card bg-secondary">
        <div class="card-body">
          <h5 class="card-title">Андрюша Прокофьев</h5>
          <p class="card-text">Я за гойду!!</p>
          <a class=" text-light" href="#">Ответить</a>
        </div>
      </div>

    </div>

  </div>

  </div>
</div>
{% endblock %}
