{% extends 'base.html' %}
{% load static %}
{% load filter %}
{% block content %}

{% if user.is_authenticated %}

    <h1 class="text-center mb-5 pb-3 border-bottom">Результаты поиска:</h1>
    <div class="row">

{% for error in errors %}


<div class=" col-sm-12 col-lg-4 col-md-12 col-xl-4 p-1">
    <div class="card bg-dark border-secondary h-100">
        <div class="card-header">
            <h4>{{ error.name }}</h4>
        </div>
        <div class="card-body">
            <h5>id: {{ error.id }}</h5>
            <p class="">{{ error.description|markdown|safe|slice:":100" }}</p>
        </div>
        <div class="d-flex flex-column card-footer">
            <a href="{% url 'errorPage' error.id %}" class="btn btn-outline-primary">Подробнее</a>
            <small class="text-secondary ml-3">Обнаружена:{{ error.created_date }}</small>
        </div>
    </div>
</div>

{% endfor %}

    </div>


{% else %}

    <div class="text-center">
        <h1>Вы не вошли в аккаунт</h1>
        <a class="btn btn-outline-primary mt-5 pr-5 pl-5 pt-3 pb-3" href="{% url 'login' %}"> <span class="h3">Войти</span> </a>
    </div>

{% endif %}


{% endblock %}
